* {
    margin:0;
    padding:0;
}
html {
    overflow-y:scroll;
}
body {
    font-family:Tahoma,Verdana,Ubuntu;
    font-size:13px;
    background-color:#fff;
}
a {
    color:#0000ff;
}
a:hover {
    color:#ff0000;
}
#container {
    width:1200px;
    margin:0 auto;
}
#menu {
    float:left;
    width:1200px;
    height:105px;
    background-color:#ddd;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    text-align:center;
    margin-top:-5px;
    box-shadow:4px 5px #ccc;
}
#menu h1 {
    font-size:30px;
    text-shadow:3px 3px #fff;
}
#menu a {
    display:inline-block;
    padding:5px;
    text-decoration:none;
    font-size:20px;
    border-right:4px solid #000;
    border-bottom:4px solid #000;
    box-shadow:4px 4px #fff;
    margin-right:10px;
    margin-top:10px;
    color:#000;
}
#menu a:hover {
    border-right:4px solid #000;
    border-bottom:4px solid #000;
    box-shadow:4px 4px #ccc;
    color:#0000ff;
}
#main {
    margin-top:20px;
    float:left;
    width:1200px;
    font-size:17px;
}
